<div class="block">
    <a href="{{if event_url}}{{ event_url }}{{else}}{{url}}{{/if}}" {{if event_url}} target='_blank' {{/if}}>

        <div class="event-date" style="margin-bottom: 5px; margin-top: 15px; text-transform: uppercase; font-size: 14px; color: #666; font-family: 'Lato', sans-serif; font-weight: 900; color: #068587"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp; {{if event_end}} {{event_start format="M j"}} {{else}} {{event_start format="M j, Y"}} {{/if}} {{if event_end}}&nbsp;&nbsp;-&nbsp;&nbsp;{{event_end format="M j, Y"}} {{/if}}


        </div>
        <h3 style="font-size: 18px">{{ title }}</h3>


        <p style="font-family: 'Lato',sans-serif;">{{ content strip_tags="img|a|p|div|h1|h2|h3|h4|h5|h6"}}</p>


        <!-- <div class="meta" style="float: right">
            posted {{ if (date | days_ago)
            < 21 }} {{ date | relative }} {{ elseif (date | format:Y)==now | format:Y }} {{ date format="M j" }} {{ else }} {{ date format="M j, Y" }} {{ /if }} </div> -->
    </a>

</div>
<div style="clear: both"></div>