<style>

</style>
<footer class="no-print">

    <div id="footer">

        <div class=" footer text-center">
            <div class="container">
                <p style="color: #777">This project was supported by Grant # 2009-SU-B9-0055, awarded by the Bureau of Justice Assistance, Office of Justice Programs, U.S. Department of Justice, through the Illinois Criminal Justice Information Authority. Points of view or
                    opinions contained within this document are those of the author and do not necessarily represent the official position or policies of the U.S. Department of Justice, or the Illinois Criminal Justice Information Authority.</p>
            </div>
        </div>

        <div class=" footer-links text-center">

            <p id="copyright">&copy; 2017
                <a href="http://www.icjia.state.il.us" target="_blank"> Illinois Criminal Justice Information Authority </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/contact">Contact Adult Redeploy Illinois</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-github" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://github.com/ICJIA/icjia-redeploy">GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/privacy">Privacy Policy</a>

            </p>
        </div>

    </div>
</footer>